<div>
<div style="	background-color: #F00; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #FFA500; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #FF0; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #008000; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #00F; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #4B0082; min-height: 125px; width: 100%; display: block;"> </div>
<div style="	background-color: #800080; min-height: 125px; width: 100%; display: block;"> </div>
</div>
