<html>
  <head>
    <title>Welcome!</title>

<script type="text/javascript">

window.onload=timeout;
function timeout(){
window.setTimeout("redirect()",5000)}

function redirect(){
window.location="/home"
return}

</script>

<img src="images/Yang.png" alt="logo">

<h1> Flatiron School + VFA </h1>

</head>
<body>

</body>
</html>
